Repository RamVighnesh/ETL-migration: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy, teraform, cf_file_sync

deploy:
  stage: deploy
  image: google/cloud-sdk:latest
  script:
  - echo $gcp_key > gcp_key.json
  - cat gcp_key.json
  - gcloud auth activate-service-account --key-file=gcp_key.json
  - gsutil -m rsync -r dags/ gs://$gcp_composer1_bucket/dags/
  - echo "connection succesfull"

teraform:
  stage: teraform
  image: google/cloud-sdk:latest
  script:
  - git fetch --unshallow
  - echo "$gcp_key" > gcp-key.json
  - chmod 644 gcp-key.json
  - export GOOGLE_APPLICATION_CREDENTIALS=$(pwd)/gcp-key.json
  - rm -rf .terraform
  - rm -f .terraform.lock.hcl
  - apt-get update && apt-get install -y curl unzip
  ...

cf_file_sync:
  stage: cf_file_sync
  image: google/cloud-sdk:latest
  script:
  - echo $gcp_key > gcp_key.json
  - cat gcp_key.json
  - gcloud auth activate-service-account --key-file=gcp_key.json
  - gsutil -m rsync -r cloud-function-files/ gs://$gcp_cloudrun_f_bucket/services/
  - echo "connection succesfull"

Update file cf_beta.py
  dags/cf_beta.py
Due: deploy

Update main.tf
  terraform-files/main.tf
Due: teraform

Update pilot_stg_dataset.tf
  terraform-files/pilot_stg_dataset.tf
Due: teraform

Update README.md
  README.md
Due: none

Create sample.txt
  images/sample.txt
Due: none

Add files via upload
  images/ETL_flow.gif
Due: none

Create sample.png
  looker/sample.png
Due: none

Add files via upload
  looker/sample-report.png
Due: none

Create LICENSE
  LICENSE
Due: none

Update LICENSE
  LICENSE
Due: none

Path conditions:
  deploy: any of: dags/*
  teraform: any of: terraform-files/*, terraform-files/*/*, terraform-files/*/*/*
  cf_file_sync: any of: cloud-function-files/*, cloud-function-files/*/*, cloud-function-files/*/*/*
